Working with show()

In [1]:
import os
import sys
from pyspark.sql import SparkSession
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
spark = SparkSession.builder.appName("Show").getOrCreate()

In [15]:
from pyspark.sql.types import StructType, StructField,StringType

In [30]:
schema  = StructType([
    StructField("firstname",StringType(),True),
    StructField("lastname",StringType(),True),
    StructField("age",StringType(),True)
])
Data = [("Viswanadh","Gandimenu",19),("harshavardhan","Gandimenu",20),("harshavardhannnnnnnnnnn","Gandimenuuddddddddd",20)]

In [31]:
df = spark.createDataFrame(data = Data, schema = schema )

In [33]:
df.show(truncate = False)

+-----------------------+-------------------+---+
|firstname              |lastname           |age|
+-----------------------+-------------------+---+
|Viswanadh              |Gandimenu          |19 |
|harshavardhan          |Gandimenu          |20 |
|harshavardhannnnnnnnnnn|Gandimenuuddddddddd|20 |
+-----------------------+-------------------+---+

In [40]:
df.show(10,truncate = 13,vertical=True)
df.printSchema()

-RECORD 0------------------
 firstname | Viswanadh
 lastname  | Gandimenu
 age       | 19
-RECORD 1------------------
 firstname | harshavardhan
 lastname  | Gandimenu
 age       | 20
-RECORD 2------------------
 firstname | harshavard...
 lastname  | Gandimenuu...
 age       | 20

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- age: string (nullable = true)