Working on Data Frames in pyspark

In [1]:
import os
import sys
from pyspark.sql import SparkSession
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
spark = SparkSession.builder.appName("Dataset").getOrCreate()

In [2]:
#Creating Dataframe where we will be creating values in a seperate list and creating a schema
Schema = ("First Name","Second Name","Age","Phone number")
Data = [("Viswanadh","Gandimenu",23,9390981000)]

In [3]:
names = spark.createDataFrame(data = Data, schema = Schema)

In [4]:
names.show()

+----------+-----------+---+------------+
|First Name|Second Name|Age|Phone number|
+----------+-----------+---+------------+
| Viswanadh|  Gandimenu| 23|  9390981000|
+----------+-----------+---+------------+

In [5]:
#Create Schema
from pyspark.sql.types import StructType,StructField, StringType
schema = StructType([
  StructField('firstname', StringType(), True),
  StructField('middlename', StringType(), True),
  StructField('lastname', StringType(), True)
  ])

#Create empty DataFrame directly.

df2 = spark.createDataFrame([], schema)
df2.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

In [6]:
#creating empty dataframe and without schema
df3 = spark.createDataFrame([],StructType([]))
df3.show()

++
||
++
++

In [7]:
#Creating empty dataframe
emptyRdd = spark.sparkContext.parallelize([])

In [8]:
#Create empty DatFrame with no schema (no columns)
df3 = spark.createDataFrame([], StructType([]))
df3.printSchema()

root